<div class="page-header">
  <h1><%=@teammate.name%>'s new assignment</h1>
</div>
<%if @assignment && @assignment.errors.any? %>
  <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h2><%= pluralize(@assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>
      <ul>
        <% @assignment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
  </div>
<%end%>
<%=render 'new_assignment_form'%>