<h1>Listing available assignments for <%=@teammate.name%></h1>
<div>
<% @allsubteams.each do |subteam|%>    
    <%= form_for subteam.assignments.build(teammate_id: @teammate.id, subteam_id: subteam.id) do |f|%>      
        <span class="lead subteam_item"><%=subteam.name%></span><%=f.submit "Assign", class: "btn btn-large assignment_button"%>
    <% end %>
<% end %>
</div>