@import "bootstrap";

body {
    padding-top: 100px;
    background-image: image-url("fabric.jpg");
}

h1 {
  padding-bottom: 20px;
}

footer{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 15px;
  height: 35px;
  background-color:black;
}

label{
  margin-bottom: 2px;
}

.nav{
  margin-bottom: 0px;
}

.navbar .brand{
  margin-top: 12px;
  font-size: 24px;
}

.mynavbar{
  height: 60px;
  background: #45484d; /* Old browsers */
  background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #45484d 0%,#000000 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #45484d 0%,#000000 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #45484d 0%,#000000 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.icon-home{
  margin-top: 5px;
  margin-left: 30px;
}

.table {
  th{
    text-align: center;
  }
  td{
    text-align: center;
    vertical-align: middle;
    height: auto;
  }
}

.subteam_title{
  width: 30%;
}

.custom_main_container{
  padding: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: grey;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 0px 1px black;
  background-color: white;
}

.upper_side_block{
  height: 20em;
}

.footer_text{
  padding-top: 10px;
  color: white;
}

#pannel-content{
  margin-top: 5px;
}

#form_buttons_container{
  position: relative;
}

#assign_cancel{
  position: absolute;
  margin-left: 5px;
}