@import "bootstrap";

body {
    padding-top: 60px; 
}

h1 {
  padding-bottom: 20px;
}

.icon-home{
  margin-top: 5px;
  margin-left: 30px;
}

.table {
  th{
    text-align: center;
  }
  td{
    text-align: center;
    vertical-align: middle;
    height: auto;
  }
}

.nav{
  margin-bottom: 0px;
}

.subteam_title{
  width: 30%;
}

.custom_main_container{
  height: 750px;
}

.upper_side_block{
  height: 20em;
}

.block_marker{
  border-width: 1px;
  border-style: solid;
  border-color: red;
}